There are {{ all.size }} frameworks in this list
<table>
    <thead>
      <tr>
        <th>framework<br>website</th>
        <th>category<br>example</th>
        <th>stars<br>Github</th>
        <th>version<br>CDN</th>
        <th>size<br>demo</th>
        <th>published<br>doc</th>
      </tr>
    </thead>
      {% for item in framework %}
      <tr>
        <td>{% if item.url %}<a href="{{item.url}}" target="_blank">{% endif %}{{ item.name }}</a></td>
        <td><a href="/examples/demo4b/{{item.name | slugify }}">{{item.category}}</a></td>
        <td><a href="{{item.github}}" target="_blank">{{ item.stars | round }} k</a></td>
        <td><a href="{{item.cdn}}" target="_blank">{{ item.version }}</a></td>
        <td>{% if item.demo %}<a href="{{item.demo}}" target="_blank">{% endif %}{{ item.size }} Kb</a></td>
        <td>{% if item.doc %}<a href="{{item.doc}}" target="_blank">{% endif %}{{ item.published | date: "%d %b %Y" }}</a></td>
      </tr>
{% endfor %}
</table>