There are {{ frameworks.size }} frameworks in this list
<table>
    <thead>
      <tr>
        <th>framework</th>
        <th>category</th>
        <th>cdn</th>
        <th>GitHub</th>
        <th>version</th>
        <th>size</th>
        <th>published</th>
      </tr>
    </thead>
      {% for item in framework %}
      <tr>
        <td><a href="{{item.url}}">{{ item.name }}</a></td>
        <td><a href="/examples/demo4/{{ item.name | slugify }}">{{item.category}}</a></td>
        <td><a href="{{item.cdn}}">cdn</a></td>
        <td><a href="{{ item.github }}">{{ item.stars | round }}k</a></td>
        <td>{{ item.version }}</td>
        <td style="white-space: nowrap;">{{ item.size }} Kb</td>
        <td style="white-space: nowrap;">{{ item.published | date: "%d %b %Y" }}</td>
      </tr>
{% endfor %}
</table>