<table>
    <thead>
      <tr>
        <th>framework</th>
        <th>sass</th>
        <th>semantic</th>
        <th>nav</th>
        <th>classes</th>
        <th>dark</th>
        <th>variables</th>
        <th>responsive</th>
      </tr>
    </thead>
      {% for item in framework %}
      <tr>
        <td><a href="/semantic/demo1/{{ item.name | slugify }}">{{ item.name }}</a></td>
        <td>{% if item.sass == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.sass}}{% endif %}</td>
        <td>{% if item.semantic == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.semantic}}{% endif %}</td>
        <td>{% if item.primaryNav == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.primaryNav}}{% endif %}</td>
        <td>{% if item.classes == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.classes}}{% endif %}</td>
        <td>{% if item.dark-mode == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.dark-mode}}{% endif %}</td>
        <td>{% if item.variables == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.variables}}{% endif %}</td>
        <td>{% if item.responsive == 'true' %}<span style="background-color: rgb(197, 250, 197);color: black">yes</span>{% else %}{{item.responsive}}{% endif %}</td>
      </tr>
{% endfor %}
</table>