---
title: CSS Construction
description: Description of the construction of the stylesheet.
layout: base
---
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Semantic</th>
            <th>SASS</th>
            <th>Variables</th>
            <th>Dark-mode</th>
        </tr>
    </thead>
    {% for item in frameworks %}
    <tr>
        <td><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
        <td><a href="/semantic/demo5/{{ item.name | slugify }}">{{ item.category }}</a></td>
        <td><a href="/semantic/demo6/{{ item.name | slugify }}">{{ item.semantic }}</a></td>
        <td>{{ item.sass }}</td>
        <td>{{ item.variables }}</td>
        <td>{{ item.dark-mode }}</td>
    </tr>
    {% endfor %}
</table>