---
title: Links
description: Description of the frameworks links.
layout: base
---
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Semantic</th>
            <th>GitHub</th>
            <th>Demo</th>
            <th>Doc</th>
            <th>CDN</th>
        </tr>
    </thead>
    {% for item in frameworks %}
    <tr>
        <td><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
        <td><a href="/semantic/demo5/{{ item.name | slugify }}">{{ item.category }}</a></td>
        <td><a href="/semantic/demo6/{{ item.name | slugify }}">{{ item.semantic }}</a></td>
        <td><a href="{{ item.github }}" target="_blank">{{ item.stars | round }}</a></td>
        <td><a href="{{ item.demo }}" target="_blank">demo</a></td>
        <td><a href="{{ item.doc }}" target="_blank">doc</a></td>
        <td><a href="{{ item.cdn }}" target="_blank">CDN</a></td>
    </tr>
    {% endfor %}
</table>