---
title: Links
description: Description of the frameworks links.
layout: base
---

{% for i in frameworks %}
    <p><strong>{{ i.name }}</strong>: <a href="{{ i.url }}" target="_blank">website</a> - <a href="{{ i.github }}" target="_blank">GitHub</a> - <a href="{{ i.demo }}" target="_blank">demo</a> - <a href="{{ i.doc }}" target="_blank">documentation</a> - <a href="{{ i.cdn }}" target="_blank">CDN</a></p>
{% endfor %}