---
title: Demo with ARIA Landmarks
pagination:
  data: frameworks
  size: 1
  alias: html
permalink: 'examples/demo4/{{ html.name | slug }}/index.html'
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ html.name }}</title>
  <link rel="stylesheet" href="{{ html.cdn }}" />
</head>

<body style="background-color: rgb(247, 251, 255);">
  <header style="border: 1px solid rgb(192, 192, 255)">
    {% include 'sections/nav1' %}
    <h1>{{ html.name }}</h1>
    <p>{{ html.description }}</p>
  </header>
  <main style="border: 1px solid rgb(192, 192, 255)">
    <aside style="border: 1px dashed rgb(255, 192, 192)">
      <header>
        <h3>This is an aside</h3>
      </header>
      <ul>
        <li><a href="{{ html.url | url }}">Website</a></li>
        <li><a href="{{ html.github | url }}">Github</a></li>
        <li><a href="{{ html.demo | url }}">Demo</a></li>
        <li><a href="{{ html.doc | url }}">Doc</a></li>
        <li><a href="{{ html.cdn | url }}">CDN</a></li>
      </ul>
    </aside>
    <section aria-labelledby="{{ title | slugify }}" style="border: 1px dashed gray">
      <h2 id="{{ title | slugify }}">{{ title }}</h2>
      <p>This framework has {{ html.stars }} stars on Github.</p>
      <p>Version {{ html.version }} was published on {{ html.published | date: "%d %m %Y" }}.</p>
      <p>Body has a light blue background color. Header, main & footer, a blue border. Aside, a dashed red border. Section, a dashed gray border.</p>
    </section>
  </main>
  <footer style="border: 1px solid rgb(192, 192, 255)">
    <small>&copy; {{ "now" | date: "%Y" }} footer</small>
  </footer>
</body>

</html>