---
title: Demo with ARIA Landmarks
pagination:
  data: frameworks
  size: 1
  alias: html
permalink: 'examples/demo4b/{{ html.name | slug }}/index.html'
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ html.name }}</title>
  <link rel="stylesheet" href="{{ html.cdn }}">
</head>

<body>
  <header>
    {% include 'sections/nav1' %}
    <h1>{{ html.name }}</h1>
  </header>
  <main>
    <div aria-label="Content">
      <section aria-labelledby="{{ title | slugify }}">
        <h2 id="{{ title | slugify }}">{{ title }}</h2>
        <p>{{ html.description }}</p>
        <p>This framework has {{ html.stars }} stars on Github.</p>
        <p>Version {{ html.version }} was published on {{ html.published | date: "%d %b %Y" }}.</p>
        <h3>HTML elements color</h3>
        <ul>
          <li>body: light blue background</li>
          <li>header & footer: light red background</li>
          <li>main: light green background</li>
          <li>aside: light yellow background</li>
          <li>nav: blue dashed border</li>
          <li>section: black dotted border</li>
        </ul>
      </section>
    </div>
    <aside>
      <header>
        <h3>This is an aside</h3>
      </header>
      <nav aria-label="Secondary">
        <ul>
          <li><a href="{{ html.url | url }}">Website</a></li>
          <li><a href="{{ html.github | url }}">Github</a></li>
          <li><a href="{{ html.demo | url }}">Demo</a></li>
          <li><a href="{{ html.doc | url }}">Doc</a></li>
          <li><a href="{{ html.cdn | url }}">CDN</a></li>
        </ul>
      </nav>
    </aside>
  </main>
  <footer>
    {% include 'sections/nav2' %}
    <small>&copy; {{ "now" | date: "%Y" }} footer</small>
  </footer>
</body>

</html>