---
title: List of example pages
description: List of example pages
date: 2023-10-04
layout: base
tags: primary
navTexte: Examples
---
{% assign list = frameworks | map: 'category' | uniq %}

<h4>New version</h4>
{% for item in list %}
<p><strong>{{ item }}</strong>:
  {% assign framework = frameworks | where: "category", item %}
  {% for item in framework %}
  <a href="/examples/demo5/{{ item.name | slugify }}">{{ item.name }}</a> |
  {% endfor %}
</p>
{% endfor %}

<h4>Test Page</h4>
{% for item in list %}
<p><strong>{{ item }}</strong>:
  {% assign framework = frameworks | where: "category", item %}
  {% for item in framework %}
  <a href="/examples/demo1/{{ item.name | slugify }}">{{ item.name }}</a> |
  {% endfor %}
</p>
{% endfor %}

<h4>Semantic Layout</h4>
{% for item in list %}
<p><strong>{{ item }}</strong>:
  {% assign framework = frameworks | where: "category", item %}
  {% for item in framework %}
  <a href="/examples/demo2/{{ item.name | slugify }}">{{ item.name }}</a> |
  {% endfor %}
</p>
{% endfor %}