---
title: List of Semantic Layouts
description: Layout example with HTML5 semantic elements
date: 2023-10-03
layout: base
tags: primary
navTexte: Semantic
---
{% assign list = frameworks.items | map: 'type' | uniq %}

<h4>header > nav > li > h1 > p</h4>
{% for item in list %}
<p><strong>{{ item }}</strong>:
  {% assign framework = frameworks.items | where: "type", item %}
  {% for item in framework %}
  <a href="/semantic/demo1/{{ item.name | slugify }}">{{ item.name }}</a> |
  {% endfor %}
</p>
{% endfor %}

<h4>header > h1 > p > nav > li</h4>
{% for item in list %}
<p><strong>{{ item }}</strong>:
  {% assign framework = frameworks.items | where: "type", item %}
  {% for item in framework %}
  <a href="/semantic/demo2/{{ item.name | slugify }}">{{ item.name }}</a> |
  {% endfor %}
</p>
{% endfor %}